@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ECU Libraries Name Authority</h1>
    <p class="lead">Switch to the <a href="@Url.Action("Subject")">Subject Authority</a></p>
</div>
@ViewData["Result"]
<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Find records in the authority.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Name", "Search")">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create</h2>
        <p>Create new authority record.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Name", "Create")">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>External</h2>
        <p>Resources using the authority.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Name", "Guide")">AS Resources &raquo;</a></p>
    </div>
</div>