@model AuthorityCouch.Models.ExportViewModel
@{
    ViewBag.Title = "Export";
}

<h2>Export</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <h5>Digital Collections</h5>
        <a href="@Url.Action("DcNameAuthorities", "Export")">Download Authority Name report</a>
        <hr />
        @using (Html.BeginForm("NameAuthoritiesByPid", "Export"))
        {
            <label>Download Name authorities by DC PID</label>
            <div class="input-group">
                @Html.TextBoxFor(m => m.DcPid, new { @class = "form-control", placeholder = "Enter PID" })

                <div class="input-group-append">
                    <input type="submit" value="Download" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h5>ArchivesSpace</h5>
        <a href="@Url.Action("NameAuthorities", "Export")">Download Authority Name report</a>
        <br />
        <a href="@Url.Action("AsNameReport")">Download AS Name report</a>
        <hr />
        @using (Html.BeginForm("NameAuthoritiesByGuide", "Export"))
        {
            <label>Download Name authorities by guide</label>
            <div class="input-group">
                @Html.TextBoxFor(m => m.NewAsResource, new { @class = "form-control", list = "asList", placeholder = "Search guide title..." })
                <datalist id="asList">
                    @foreach (var subject in Model.AsResources)
                    {
                        <option value="@subject.Text" />
                    }
                </datalist>
                <div class="input-group-append">
                    <input type="submit" value="Download" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
