<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Subject Authority</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.png")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/Images/favicon.png")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="@Url.Action("Subject", "Home")" class="navbar-brand"><i class="fa fa-tags"></i> Subject Authority</a>
        <span class="navbar-text">&nbsp;</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="@Url.Action("Subject", "Create")" class="nav-link">Create</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">External</a>
                    <div class="dropdown-menu">
                        <a href="@Url.Action("Subject", "Guide")" class="dropdown-item">ArchivesSpace</a>
                        <a href=#" class="dropdown-item disabled">Digital Collections</a>
                    </div>
                </li>
                <li class="nav-item"><a href="@Url.Action("Subject", "Export")" class="nav-link">Export</a></li>
                <li>
                    <a href="https://lib.ecu.edu/central/logout" class="nav-link">Logout</a>
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm("Subject", "Search"))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mt-2">
                                    <input id="term" name="term" class="form-control-sm" />
                                    <div class="input-group-append">
                                        <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </li>

            </ul>

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <span id="ecu-footer-name">East Carolina University</span>
        <div id="ecu-footer-contact">
            East Fifth Street | Greenville, NC 27858-4353 USA | 252.328.6131 | <a href="http://lib.ecu.edu/issues/create/?from=artadmin">Contact Webmaster</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
